.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600;700&family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


html {
    font-size: 10px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}
.btn {
  display: inline-block;
  padding: 1rem 2rem; /* Adjust padding as needed */
  font-size: 1.6rem; /* Adjust font size as needed */
  background-color: var(--main-color);
  color: #372e2e;
  border: none;
  border-radius: 5px;
  cursor: pointer;    height : 50px ;

  transition: background-color 650ms;
  width : 70px ;
  


}

.btn:hover {
  background-color: #6b2f2f; /* Change color on hover as needed */
}
